.sidebar
  .sidebar__user
    .sidebar__user__name
      = current_user.name

    .sidebar__user__icon
      = link_to new_group_path do
        = fa_icon "pencil-square-o", class: 'icon'

      = link_to edit_user_path(current_user) do
        = fa_icon "cog", class: 'icon'

  .sidebar__groups
    .sidebar__groups__group
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .sidebar__groups__group__name
          = group.name
        .sidebar__groups__group__chat
          = group.show_last_message
