.wrapper
  .sidebar
    = render "sidebar"

  .chat
    .chat__header

      .chat__header.clearfix
        .chat__header__group test
        %a.chat__header__edit_btn Edit

        .chat__header__users Members : yurina

    .chat__body
      = render @messages

    .chat__form
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            %label.upload-label{for: "upload-icon"}
              %i.fa.fa-picture-o
              = f.file_field :image, id: "upload-icon"
          = f.submit 'Send', class: 'form__submit'
