.wrapper
  .sidebar
    = render "sidebar"

  .chat
    .chat__header

      .chat__header.clearfix
        .chat__header__group test
        %a.chat__header__edit_btn Edit

        .chat__header__users Members : yurina

    .chat__body
      = render @messages

    .chat__form
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
